.App {
  text-align: center;
}

.App-header {
  background-color: #e7dde7;
  min-height: 25;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 0.55vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.darkpurple-text{
  color: rgb(102, 64, 102)
}

.lilac-text{
  color: rgb(161, 124, 163);
}

.brown-text{
  text-align: center;
  color:rgb(151, 128, 128)
}

body{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}